includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	paths:
		- .
	excludePaths:
		- Tests/ (?)
		- vendor/ (?)
		- var/ (?)
		- Resources/doc/example/ (?)
	inferPrivatePropertyTypeFromConstructor: true
